body
{
    background-color: lightgrey;
}
 
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
	display:block;
}

ul.tab li {
	
	float: left;
		display:block;
	
	}


ul.tab li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.tab li a:hover {
	
	background-color: #00AAE4;
	display:block;
	
	}


ul.tab li a:focus, .active 

{
	background-color: #ccc;
		display:block;
	
}

.tabcontent {
   
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
		display:block;
}
.container
{
    border-radius:20px;
	width:1800px;
	height:842px;
	padding:20px;
	background:white;
	
}
.tab{
    border-radius:5px;
  	padding:300px;
	background:#808080;
	display : block;
	width:1700px;
	height:40px;
   }
.dvt1
{
	border-radius:20px;
	width:1239px;
	height:600px;
	padding:20px;
	background:#ECECEC;
}
.mpfariseni
{
    width:39px;
	height:62px;
	text-decoration: none
	background:#white;
}
.Row1
{
	border-radius:10px;
	width:200px;
	height:5px;
	padding:20px;
	background:#C7C9C9;
}
.Row2
{
	border-radius:10px;
	width:200px;
	height:5px;
	padding:20px;
	background:#C7C9C9;
}
.Row3
{
	border-radius:10px;
	width:200px;
	height:5px;
	padding:20px;
	background:#C7C9C9;
}
.Row4
{

	
	border-radius:10px;
	width:200px;
	height:5px;
	padding:20px;
	background:#C7C9C9;
}
.Row5
{

	border-radius:10px;
	width:200px;
	height:5px;
	padding:20px;
	background:#C7C9C9;
}
.Row6
{

	border-radius:10px;
	width:200px;
	height:5px;
	padding:20px;
	background:#C7C9C9;
}
.Row7
{	
	border-radius:10px;
	width:200px;
	height:5px;
	padding:20px;
	background:#C7C9C9;
}
.Row8
{
	border-radius:10px;
	width:200px;
	height:5px;
	padding:20px;
	background:#C7C9C9;
}
.Row9
{

	
	border-radius:10px;
	width:200px;
	height:5px;
	padding:20px;
	background:#C7C9C9;
}
.Row10
{

	
	border-radius:10px;
	width:200px;
	height:5px;
	padding:20px;
	background:#C7C9C9;
	
}
.Row11
{


	border-radius:10px;
	width:200px;
	height:5px;
	padding:20px;
	background:#C7C9C9;
}
.Row12
{
	border-radius:10px;
	width:200px;
	height:5px;
	padding:20px;
	background:#C7C9C9;
}

.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
	 
}
.dropdown-content a:hover 
{
background-color: #ECECEC

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .Transact
 {
    background-color: #ECECEC;
	
	
}
.image
{
  border-radius:0px;
	width:180px;
	height:99px;
	padding:0px;
   float: right;
}
.links
{

float : right;
 padding: 0px 10px;
  word-wrap: 40px;
 
  padding-right: 30px;
}


.triangle-bottomright {

	border-bottom: 10px solid skyblue;
	border-left: 10px solid transparent;
	 display: inline-block;
}